<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
    <h1>Products</h1>
    <table>
        <thead>
            <tr>
                <th>Article</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Last Quantity Update</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.article}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.category}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.quantity}"></td>
                <td th:text="${product.lastQuantityChangeTimestamp}"></td>
                <td th:text="${product.creationTimestamp}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>