<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Form</title>
</head>
<body>
<h1>Product Form</h1>
<form action="#" th:action="@{/products/}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}" th:value="${T(java.util.UUID).randomUUID()}">
    <label>Article: <input type="text" th:field="*{article}"></label><br>
    <label>Name: <input type="text" th:field="*{name}"></label><br>
    <label>Description: <input type="text" th:field="*{description}"></label><br>
    <label>Category: <input type="text" th:field="*{category}"></label><br>
    <label>Price: <input type="text" th:field="*{price}"></label><br>
    <label>Quantity: <input type="text" th:field="*{quantity}"></label><br>
    <button type="submit">Save</button>
</form>
</body>
</html>